@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500;1,600&display=swap');
:root {
    --primary: #ff8747;
    --primaryOpac: #ff8747ef;
    --secondary: #007c80;
    --white: #FBFBFB;
    --grey: #737373;
  }
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    visibility: hidden;
  }
  a:hover{
      cursor: pointer;
  }

  /* Scroll Bar  */
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body{
    margin: 0;
    background: rgb(115,115,115);
    background-image: linear-gradient(133deg, rgba(115,115,115,1) 0%, rgba(141,141,141,1) 50%, rgba(169,169,169,1) 100%);
    background: linear-gradient(133deg, #005f62 0%, rgba(0,124,128,1) 50%, rgba(0,95,98,1) 100%);

    font-family: 'Open Sans', sans-serif;
    font-family: 'Bitter', serif;
}
h1{
    color: var(--white);
    font-size: 3.5em;
}
h2{
    color: var(--white);
    opacity: 0.9;
    font-size: 2em;
    line-height: 1.1em;
}
h4{
    color: var(--white);
    opacity: 0.9;
    font-size: 1.4em;
    line-height: 1.1em;
}


/*Header*/
header{
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.0);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    display: none;
    transition-duration: 0.5s;
}

.headerContainer{
    display: flex;
    flex-direction: column;
    background: var(--primary);
    transition-duration:0.5s;
    overflow: hidden;
    width: 0px;
    height: 100vh;
    padding: 0;
}
.headerTop{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    display: none;
}
.headerElement{
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 600;
    display: none;
    flex-direction: column;
    overflow: hidden;

}
.headerElement a, .headerElement p, .headerElement li{
    margin: 13px;
    
}
.headerElement a:hover{
    color: white;
}
.headerElement .textIcon{
    margin: auto auto auto 10px;
    height: 20px;
    width: 20px;
}
.headerElement .contactLink{
    color: rgba(255, 255, 255, 1);
    font-size: 0.9em;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(255, 255, 255, 0.8);;
    border-radius: 3px;
    width: fit-content;
    padding: 10px 18px;
}
.headerElement .contactLink:hover{
    color: var(--primary);
    background: white;
    transition-duration: 0.5s;
}
.headerElement:nth-child(3){
    margin-top: auto;
    margin-bottom: 25%;
}
.listTitle{
    display: flex;
    color: rgba(255, 255, 255, 1);
    margin: auto;
}
.headerElement ul{
    margin: 0;
    list-style: none;
    padding-left: 9px;
    height: fit-content;
}
#closeNav{
    height: 40px;
    opacity: 0.8;
}
#closeNav:hover{
    cursor: pointer;
    transition-duration: 0.5s;
    transform: scale(1.1);
    opacity: 1;
}
.headerTop .logo{
    width: 120px;
}

/*First Page*/
.firstPage{
    height: 100vh;
    width: 100%;
}
.pageHead{
    height: 15%;
    display: flex;
    margin: auto;
    width: 95%;
    justify-content: space-between;
    position: relative;
}
.pageHead .logo{
    width: auto;
    height: 100px;
    margin: auto 0 auto 0;
}
.controlsContainer{
    display: flex;
    user-select: none;
    font-size: 1.2em;
    color: var(--white);
    margin-right: 0;
  
    
}
.language{
    margin: auto 35px auto 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
}

#currentLang{
    display: flex;
    flex-direction: row;
    width: 170px;
    color: white;
}
.language:hover{
    cursor: pointer;
    transition-duration: 0.5s;
}
.language:hover .drop-down-menu{
    display: block;
}
.drop-down-menu{
    display: none;
    width: 100px;
    line-height: 3em;
    position: absolute;
    background: var(--primaryOpac);
    border-radius: 3px;
    color: white;
    font-size: 0.8em;
    padding: 10px;
    top: 40px;
    left: 0px;
    z-index: 10;
}
.drop-down-menu:before {
    content: "";
    position: absolute;
    border: solid transparent;
    border-bottom-color: var(--primaryOpac);
    border-width: 11px;
    margin-left: -10px;
    top: -21px;
    right: 66px;
    z-index: 1;
  } 
  
  .drop-down-menu:after {
      content: "";
      position: absolute;
      right: 66px;
      top: -21px;
      width: 0;
      height: 0;
      border: solid transparent;
      border-width: 10px;
      z-index: 0;
}
.drop-down-menu a:hover{
   color: rgba(250, 250, 250, 0.726);
}  
.textIcon{
    width: 30px;
    height: 30px;
    margin: auto 10px auto 0;
}
#currentLang span{
    margin: auto 0;
}

#menu{
    margin: auto;
    display: flex;
    flex-direction: row;
    transition-duration: 0.5s;
    
}
#menu:hover{
    cursor: pointer;
}
.menuIcon{
    margin: auto 16px auto auto;
    display: flex;
    flex-direction: column;
    height: 30px;
}
.iconLine{
    width: 30px;
    height: 4px;
    margin: auto 0px auto 0px;
    background: var(--white);
    transition-duration: 0.5s;
}
.iconLine:nth-child(2){
    width: 22px;
}
.mainContent{
    width: 95%;
    height: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mainContent .imageContainer{
    margin: 2% 5% auto 0;
    position: relative;
}
.mainContent .imageContainer img{
    opacity: 1;
    height: 600px;
    z-index: 200;
    opacity: 1;
    border: 4px solid white;
}
.rectangle{
    width: 400px;
    height: 400px;
    background: var(--primaryOpac);
    position: absolute;
    bottom: -5%;
    left: -5%;
    z-index: -1;
}
.textContainer{
    width: 30%;
    margin: 5% 0 0 5%;
}
.expandWhite{
    transform-origin: bottom;
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-1;
    animation-timing-function: linear;
}
.stage{
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
}
.socialMedia{
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 3%;
    left: 3%;
}
.socialMedia img{
    width: 45px;
    height: 45px;
    margin-right: 15px;
    
}

/*Service Page*/
.servicePage{
    height: 100vh;
}
.servicePage .pageHead{
    height: 18%;
    width: 90%;
}
.servicePage .pageHead h1{
    margin: auto 0 20px 0;
    font-size: 3em;
    width: 100%;
    text-align: left;
}
.cardContainer{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    color: var(--white);
}
.card{
    width: 24%;
    margin: 0 auto 0 auto;
    padding: 20px;
    z-index: 2;
    border-radius: 2px;
    font-size: 1.2em;
}
.card:hover{
    cursor: pointer;
    background: var(--primaryOpac);
    box-shadow: 5px 4px 17px 0px #0000006e;
    transition-duration: 0.5s;
}
.cardInfo{
    line-height: 1.4em;
}
.card a{
    font-weight: 300;
    color: rgba(255, 255, 255, 0.685);
}
.cardImg{
    width: 100%;
}

/*Business Page*/
.businessPage{
    height: 100vh;
    display: flex;
    width: 100%;

}
.businessPage .imageContainer{
    width: 50%;
    margin: 5% auto auto 5%;
    position: relative;
}
.businessPage .imageContainer img{
    width: 100%;
    opacity: 1;
    z-index: 200;
    opacity: 1;
    border: 4px solid white;
}
.businessPage .imageContainer .rectangle{
    right: -8%;
    bottom: -8%;
    left: auto;
    width: 500px;
    height: 500px;
    background: #ff8747c2;
}
.businessPage .article{
    width: 30%;
    margin: 4% auto;
}
.article h2{
    line-height: 1.6em;
    opacity: 0.9;
}
.actionMeet{
    background: var(--white);
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
    justify-content: space-evenly;
    align-items: center;
}
.actionMeet h2{
    color: var(--secondary);
    font-size: 1.6em;
    width: 100%;
    text-align: center;
    margin: 0;
    opacity: 1;
}
.contactButton{
    color: var(--secondary);
    font-weight: 600;
    font-size: 1.1em;
    display: flex;
    width: 40%;
    border: 3px solid var(--secondary);
    padding: 5px 10px 5px 10px ;
    line-height: 2em;
    text-align: center;
}
.contactButton:hover{
    cursor: pointer;
    filter: opacity(0.5) drop-shadow(0 0 0 white);
    transition-duration: 0.5s;
}
.rightArrow{
    width: 30px;
    height: 30px;
    margin: auto;
    display: block;
}

/*Partners*/
.partners{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10% 0 10% 0;
    position: relative;
}
.partner{
    width: 250px;
    margin: 0 10px 0;
}
.partner2{
    width: 250px;
    height: auto;
}
.absTitle{
    position: absolute;
    top: 0;
    left: 5%;
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: 15px;
}
/*Footer*/
footer{
    background: black;
    height: 100vh;
    width: 100%;
    margin-top: 0%;
    display: flex;
    
    color: white;
}
.footContainer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: auto;
}
footer .logo{
    width: 140px;
}
footer a{
    color: white;
}
.footCol{
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.footCol h3{
    font-weight: 400;
    font-size: 1.1em;
    margin-top: 40px;
    line-height: 1.6em;
}
.copyright, .sitemap .legal {
    margin-top: 52%;
    text-transform: none;
    font-size: 1em;
    font-weight: 400;
}

.sitemap {
    color: rgba(255, 255, 255, 0.767);
    text-transform: uppercase;
    margin-top: 0;

}
.sitemap a {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: 600;

}

@media (max-width: 1536px){
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
        line-height: 1.1em;
    }
    h4{
        font-size: 1.4em;
        line-height: 1.1em;
    }
    .mainContent .imageContainer img{
        height: 500px;
    }
    .contactButton{
        width: auto;
    }
    .contactButton img{
        margin-left: 9px;
    }
    .businessPage{
        padding-bottom: 5%;
    }
}
@media (max-width: 1366px){
    body{
  
    }
    h1{
        font-size: 2.8em;
    }
    h2{
        font-size: 1.6em;
        line-height: 1.1em;
    }
    h4{
        font-size: 1.4em;
        line-height: 1.1em;
    }
    .mainContent .imageContainer img{
        height: 450px;
    }
 
}
@media (max-width: 1200){
    .mainContent .imageContainer img{
        height: 380px;
    }
    .textContainer {
        width: 40%;
        margin: 5% 0 0 5%;
    }
    .businessPage .imageContainer .rectangle {
    
        width: 400px;
        height: 400px;
    }
 
}
@media (max-width: 1024px){

    .mainContent{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .textContainer{
        width: 90%;
        margin: 0;
    }
    .mainContent .imageContainer{
        margin: 0 0 0 auto;
    }
    .businessPage .imageContainer .rectangle {
    
        width: 300px;
        height: 300px;
    }
    .partners {
  
        padding: 15% 0 10% 0;
    }
}
@media (max-width: 900px){


    .mainContent .rectangle{
        display: none;
    }
    .cardContainer{
        flex-wrap: wrap;
    }
    .card{
        width: 40%;
    }
    .servicePage{
        height: auto;
        padding-top: 5%;
        padding-bottom:10%;
    }
    .businessPage{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10%;
    }
    .businessPage .imageContainer{
        margin: 0;
        width: 60%;
    }
    .businessPage .article{
        margin: 0;
        width: 80%;
    }
    .rightArrow{
        height: 30px;
    }
    .socialMedia{
        left: auto;
        right: 3%;
    }
}
@media (max-width: 768px){
    .mainContent .imageContainer img{
        height: 400px;
    }
    .pageHead .logo{
        height: 80px;
    }
    .mainContent{
        width: 100%;
    }
}
@media (max-width: 600px){
    .mainContent .imageContainer img{
        height: 300px;
        margin-bottom: 0%;
    }
    .mainContent .imageContainer{
        margin: 0;
    }
    .businessPage .imageContainer {
        margin: 0;
        width: 80%;
    }
    .partners {
  
        padding: 20% 0 10% 0;
    }
    .headerElement:nth-child(3) {
        margin-top: auto;
        margin-bottom: 35%;
    }
}
@media (max-width: 500px){
    .mainContent .imageContainer img{
        height: 250px;
        margin-bottom: 30%;
    }
    .mainContent h1{
        margin-top: 0;
    }
    .language {
        margin-right: 20px;
     
    }
    .card{
        width: 90%;
    }
    .partner{
        margin-top: 10%;
    }
    .footContainer{
        width: 90%;
    }
    #currentLang {
        width: auto;
    }
    .businessPage .imageContainer .rectangle {
        width: 200px;
        height: 200px;
    }
    footer{
        height: auto;
    }
    .footContainer{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .footCol{
        width: 90%;
        margin-top: 0%;
    }
    .footCol:nth-child(1){
        margin-top: 25%;
    }
    .copyright{
        margin: 15% 0 35% 0;
    }
}
@media (max-width: 400px){
    .mainContent .imageContainer img{
        height: 150px;
        margin-bottom: 0%;
    }
   
    .h1{
        font-size: 1em;
    }
    .headerElement:nth-child(3) {
        margin-top: auto;
        margin-bottom: 55%;
    }
    .headerElement:nth-child(3) {
         margin-top: 0; 
         margin-bottom: 0%; 
    }
    .headerElement{
        margin-top: 20px;
    }
}